body
{   /* ========================================================
 This pattern is downloaded from www.subtlepatterns.com 
 If you need more, that's where to */
    margin: 0;
    padding: 0;
    background-image: url(img/restaurant.png);
    font-size: 20px;
}
#container
{
	margin-right: auto;
    min-height: 100px;
    text-align: center;
    margin-top: 200px;
}
#menu
{
    float:left;
    -webkit-box-shadow: 7px 9px 68px 8px rgba(0,0,0,0.45);
    -moz-box-shadow: 7px 9px 68px 8px rgba(0,0,0,0.45);
    box-shadow: 4px 5px 5px 8px rgba(0,0,0,0.45);
    border-radius: 5px;
    background-color:  #E7F2F8;
    position: sticky;
    top: 10px;
    left: 0px;
    width: 350px;
    
}
.workers
{  
    background-color: #EEFCEA;
    padding: 10px 0;
    margin-top: 5px;
    border-radius: 10px;
    margin-left: 320px;
    list-style: none;
    width: 800px;
    text-align: center;
    opacity: 0.7;
}
.workers:hover
{
    background-color: #DDEBD9;
    opacity: 1;
}
.Targeted
{
    background-color: #66DF46;
    padding: 10px 0;
    margin-top: 5px;
    border-radius: 10px;
    margin-left: 320px;
    list-style: none;
    width: 800px;
    text-align: center;
    opacity: 0.7;
}
#Information
{
    
    position: absolute;
    top: 5px;
    left: 215px;
}

































